{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "no-confusing-arrow": 0
  }
}
